h1 {
  color: mediumseagreen;
  font-family: 'Arial';
  text-align: center;
}

body {
  background-color: lavenderblush;
}

.box{
	width:500px;
	height:700px;
	background-color: blue;
}

.button_wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}
